{
  "builders" : [{
    "type" : "amazon-ebs",
    "region" : "ap-northeast-1",
    "instance_type" : "t2.micro",
    "source_ami" : "ami-06cd52961ce9f0d85",
    "ssh_username" : "ec2-user",
    "ami_name" : "packer-ansible-elasticsearch",
    "ssh_agent_auth": false
  }],
  "provisioners" : [{
    "type" : "ansible",
    "playbook_file" : "playbook.yml"
  }]
}
